
body {
   background: #2e384a;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

button {
   cursor: pointer;
   background: transparent;
   border: 3px solid silver;
   color: silver;
   border-radius: 50%;
   width: 60px;
   height: 60px;
}

button:hover {
    background: #c0c0c036;
}

.timer {
    font-size: 60px;
    margin: 1rem;
    padding: 1rem;
    color: silver;
}

.hidden {
    display: none;
}

.text-timer {
    margin-bottom: 20px;
}


.text-timer {
    font-size: 30px;
    color:silver;
}

.step {
    font-size: 20px;
    color: silver;
    margin: 1rem
}





